<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="messages-div">
        <% messages.forEach((message) => { %>
            <div class="message-div">
                <div class="message-meta">
                    <% if (!locals.user) { %>
                        <p>XXXXXX</p>
                    <% } else { %>
                        <p><%= message.name %></p>
                    <% } %>
                    <p><%= message.formattedDate %></p>
                </div>
                <div class="message-title"><%= message.title %></div>
                <div class="message-content"><%= message.content %></div>
                <form class="delete-form" action="/deleteMessage" method="POST">
                    <input type="hidden" value="<%= message.id %>" name="messageId">
                    <button type="sumbit">Delete</button>
                </form>
            </div>
            
        <% }) %>
    </div>
    
    
</body>
</html>